VITE_SUPABASE_URL=https://nxvxghrghnxajmtqange.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im54dnhnaHJnaG54YWptdHFhbmdlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2NTU5NzQsImV4cCI6MjA5NzIzMTk3NH0._biTH5rlU_hcY7QlD7CwgfOOouqYtyYpDlNcJLkkMz4
